<p class="new-post text-center"><a href="/dashboard/post/add">+ Create New Post</a></p>
{{#if posts.length}}
<section>
    <h2 class="dashboard-title">Your Posts</h2>
    
    <ul class="post-list d-flex flex-column align-items-stretch">
        {{#each posts as |post|}}
        <li class="post">
            {{> post-list post}}
            <a class="post-function" href="/dashboard/edit/post/{{post.id}}" >Edit Post</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

{{#if comments.length}}
<section>
    <h2 class="dashboard-title">Your Comments</h2>
    <ul class="comment-list">
        {{#each comments as |comment|}}
        <li class="comment">
            {{> comment-list comment}}
            <p class="comment-function">
                <a class="comment-function-element" href="/post/{{comment.post_id}}">View</a>
                <a class="comment-function-element" href="/dashboard/edit/comment/{{comment.id}}">Edit</a>
                <a class="comment-function-element delete-comment" id="{{comment.id}}">Delete</a>
            </p>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<script src="/javascript/deletecomment.js"></script>