<form class="form login-form d-flex flex-column justify-content-center align-items-center">
    <div class="form-element">
        <label for="username-login">Username: </label>
        <input type="text" id="username-login"/>
    </div>
    <div class="form-element">
        <label for="password-login">Password: </label>
        <input type="password" id="password-login"/>
    </div>
    <div class="form-element">
        <button type="submit">login</button>
    </div>
</form>

<p class="text-center"><a href="/signup">Signup</a> instead</p>

<script src = "/javascript/login.js"></script>