<form class="form signup-form d-flex flex-column justify-content-center align-items-center">
    <div class="form-element">
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div class="form-element">
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div class="form-element">
        <label for="confirm-password-signup">Confirm password:</label>
        <input type="password" id="confirm-password-signup" />
    </div>
    <div class="form-element">
        <button type="submit">Signup</button>
    </div>
</form>

<p class="text-center"><a href="/login">Login</a> instead</p>

<script src = "/javascript/signup.js"></script>